<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
</head>
<body>
    <h1>Blog Posts</h1>
    {% for post in posts %}
        <div>
            <h2>
                <a href="{% url 'blog_detail' post.slug %}">{{ post.title }}</a>
            </h2>
            <p><strong>By:</strong> {{ post.author }} | {{ post.created_on }}</p>
            <p>{{ post.body|truncatewords:30 }}</p>
            {% if post.picture %}
                    <img src="{{ post.picture.url }}" alt="{{ post.name }}" width="150">
                {% endif %}
        </div>
        <hr>
    {% endfor %}
</body>
</html>